<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>287.1853638</real>
            <key>y</key>
            <real>182.0949249</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>731.4541016</real>
            <key>y</key>
            <real>396.7418518</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>710.4886475</real>
            <key>y</key>
            <real>335.8418274</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>653.5820923</real>
            <key>y</key>
            <real>297.9043884</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>700.5054321</real>
            <key>y</key>
            <real>251.9800262</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>687.5261230</real>
            <key>y</key>
            <real>128.1836395</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>605.6614380</real>
            <key>y</key>
            <real>117.2014389</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>503.8286438</real>
            <key>y</key>
            <real>180.0981903</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>388.0191956</real>
            <key>y</key>
            <real>186.0883789</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>213.3068085</real>
            <key>y</key>
            <real>222.0290985</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>183.3562775</real>
            <key>y</key>
            <real>297.9043884</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>129.4450073</real>
            <key>y</key>
            <real>340.8338623</real>
        </dict>
        <key>13</key>
        <dict>
            <key>x</key>
            <real>59.5599022</real>
            <key>y</key>
            <real>290.9160461</real>
        </dict>
        <key>14</key>
        <dict>
            <key>x</key>
            <real>40.5907822</real>
            <key>y</key>
            <real>188.0850983</real>
        </dict>
        <key>15</key>
        <dict>
            <key>x</key>
            <real>45.5824051</real>
            <key>y</key>
            <real>105.2214661</real>
        </dict>
        <key>16</key>
        <dict>
            <key>x</key>
            <real>110.4758835</real>
            <key>y</key>
            <real>75.2705307</real>
        </dict>
    </dict>
</plist>
